<launch>  

<include file="$(find openni_launch)/launch/openni.launch"/>

<!-- ar_recog kinect-->
  <node name="image_listener" pkg="ar_recog" type="ar_recog" respawn="true" cwd="node">
    <remap from="/image_listener" to="/node100/image_listener"/>
    <remap from="image" to="/camera/rgb/image_color" />
    <remap from="/ar/image" to="/node100/arimage"/>
    <remap from="/tags" to="/node100/tags"/>
  </node>




<!-- ardrone_autonomy -->
  <node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" output="screen">
    <remap from="/ardrone/navdata" to="node1/navdata" />    
    <remap from="/ardrone/image_raw" to="node1/image_raw" /> 
  </node>   

<!-- joy_node -->
  <node name="joy_node" pkg="joy" type="joy_node"/>

<!-- tum_ardrone -->
  <node name="drone_gui" pkg="tum_ardrone" type="drone_gui"/>

<!-- ar_recog drone-->
  <node name="image_listener1" pkg="ar_recog" type="ar_recog" respawn="true" cwd="node">
    <remap from="/image_listener" to="/node1/image_listener"/>
    <remap from="image" to="/node1/image_raw" />
    <remap from="/ar/image" to="/node1/arimage"/>
    <remap from="/tags" to="/node1/tags"/>
  </node> 

</launch>  
